[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
